Source: fenced
Maintainer: Caleb <yocalebo@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 12),
 python3-setuptools,
 python3-all,
Standards-Version: 4.3.0

Package: python3-fenced
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python bindings for SCSI-3 Persistent Reservations
 utilizing the sg3_utils API. <http://sg.danny.cz/sg/sg3_utils.html>
