Source: fenced
Maintainer: Caleb <yocalebo@gmail.com>
Section: python
Priority: optional
Pre-Depends: python3-sgpersist, ${misc:Pre-Depends}
Build-Depends: debhelper (>= 12),
 dh-python,
 python3-setuptools,
 python3-all,
Standards-Version: 4.3.0

Package: python3-fenced
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python daemon for automatically managing
 SCSI-3 Persistent Reservations. Depends on <https://github.com/truenas/py-sgpersist>.
